<div class="login-bg">
    <div class="wrap-login-form-content">
      <div class="wrap-login-content">
        <div class="logo">
          <img />
        </div>
        <h3>Welcome To Insitz+</h3>
        <p>
          Insitz plus provides a dynamic platform that transforms raw data into
          actionable insights, empowering your business with the tools it needs
          for faster decision-making and enhanced collaboration. Our interactive
          reports and dashboards are designed to foster a culture of information
          sharing and teamwork.
        </p>
        <div>
          <h5 class="bpo-heading">BPO Operations Dashboard:</h5>
          <p>
            Dive into a wealth of data-driven analyses covering ID cards,
            Enrollments, Claims, and more. Gain valuable insights such as ID card
            aging, membership counts, claim adjudication details, binder payment
            reports, and inventory aging and statuses.
          </p>
        </div>
        <div class="wrap-highlights">
          <div class="highlights">
            <p>Descriptive & Diagnostic Analysis</p>
            <div class="highlight-1"></div>
          </div>
          <div class="highlights">
            <p>Interactive Dashboards</p>
            <div class="highlight-2"></div>
          </div>
          <div class="highlights">
            <p>Near Real-Time Data Access</p>
            <div class="highlight-3"></div>
          </div>
          <div class="highlights">
            <p>Continuous Improvement</p>
            <div class="highlight-4"></div>
          </div>
        </div>
      </div>
  
      <div class="wrap-login-form">
        <div class="login-form">
          <p>Click on login button to initiate SSO login</p>
         
          <button (click)="lambdaLogin()">Login with SSO</button>
        </div>
      </div>
    </div>
  </div>
  