<!-- <div class="container-fluid">
    <header class="navbar header px-3 fixed-top">
      <button class="business-ops-btn" routerLink="/" routerLinkActive="active">
        Business-Operations
      </button>
      
      <div class="d-flex align-items-center ms-auto">
        <div class="profile-dropdown position-relative me-3">
          <button class="btn profile-circle" (click)="toggleDropdown()">
            <span class="profile-initials">{{ getInitials(username) }}</span>
          </button>
          <div class="dropdown-menu dropdown-menu-end" [ngClass]="{'show': isDropdownOpen}">
            <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
          </div>
        </div>
        <div class="user-info text-end">
          <span class="fw-bold d-block">{{ username }}</span>
          <small class="text-secondary d-block">{{ role }}</small>
        </div>
      </div>
      
      
    </header>

  <div class="row" style="margin-top: 56px;">
  <nav class="col-md-3 col-lg-2 d-md-block  sidebar position-fixed">
    <div class="position-sticky">
      <div class="sidebar-logo text-center pt-2 pb-2">
        <img src="/assets/insitz-logo.png" alt="Company Logo" class="sidebar-img">
      </div>
        <div class="search-container">
        <input
          type="text"
          class="form-control sidebar-search"
          [(ngModel)]="searchQuery"
          (input)="filterMenu()"
          placeholder="🔍 Search..."
        />
      
    
      <div class="search-results shadow-sm" *ngIf="filteredItems.length > 0">
        <ul class="list-group">
          <li class="list-group-item d-flex align-items-center" *ngFor="let item of filteredItems">
           
            <a [routerLink]="item.link" (click)="clearSearch()" class="search-item">
              {{ item.label }}
            </a>
            </li>
          </ng-container>
        </ul>
      </div>
      </div>
  

      <button class="daily-operations-btn" routerLink="businessOperation/dailyOperation/dashboard" routerLinkActive="active">
        Daily Operations
      </button>
  
  
    <ul class="nav flex-column mt-3">
 
    <li class="nav-item claims-menu" *ngIf="canAccessClaims()">
      <a class="nav-link text-white d-flex justify-content-between align-items-center"
         (click)="toggleMenu('claims')"
         [routerLinkActive]="['active-link']">
        <span>
          <i class="bi bi-folder"></i> Claims
        </span>
        <i class="bi"  [ngClass]="{'bi-plus': activeMenu !== 'claims', 'bi-dash': activeMenu === 'claims'}"></i>
      </a>
    </li>
   
    <ul  *ngIf="activeMenu === 'claims'"  class="nav flex-column claims-submenu">
      <li class="nav-item" routerLinkActive="active-submenu">
        <a routerLink="businessOperation/claims/productionReport" class="nav-link text-white small-menu">
          Production Report
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-submenu">
        <a routerLink="businessOperation/claims/pendingClaimsNew" class="nav-link text-white small-menu">
          Pending Claims-NEW
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-submenu">
        <a routerLink="businessOperation/claims/pendingClaimsAdjusted" class="nav-link text-white small-menu">
          Pending Claims-Adjusted
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active-submenu">
        <a routerLink="businessOperation/claims/finalizedClaims" class="nav-link text-white small-menu">
           Finalized Claims
        </a>
      </li>
    </ul>
  
       
  <li class="nav-item enrollment-menu" *ngIf="canAccessEnrollment()">
    <a class="nav-link text-white d-flex justify-content-between align-items-center"
       (click)="toggleMenu('enrollment')"
       [routerLinkActive]="['active-link']">
      <span>
        <i class="bi bi-people"></i> Enrollment
      </span>
      <i class="bi"  [ngClass]="{'bi-plus': activeMenu !== 'enrollment', 'bi-dash': activeMenu === 'enrollment'}"></i>
    </a>
  </li>
  

  <ul  *ngIf="activeMenu === 'enrollment'"  class="nav flex-column enrollment-submenu">
    <li class="nav-item" routerLinkActive="active-submenu">
      <a routerLink="businessOperation/enrollment/enrollmentAging" class="nav-link text-white small-menu">
        Enrollment Aging
      </a>
    </li>
    <li class="nav-item"routerLinkActive="active-submenu">
      <a routerLink="businessOperation/enrollment/idCardAging" class="nav-link text-white small-menu">
        ID Card Aging
      </a>
    </li>
    <li class="nav-item"routerLinkActive="active-submenu">
      <a routerLink="businessOperation/enrollment/idCardStatus" class="nav-link text-white small-menu">
        ID Card Status
      </a>
    </li>
    <li class="nav-item"routerLinkActive="active-submenu">
      <a routerLink="businessOperation/enrollment/tatEnrollments" class="nav-link text-white small-menu">
         TAT-Enrollements
      </a>
    </li>
  </ul>
  
          <li *ngIf="canAccessCallCenter()" class="nav-item callcenter-menu">
            <a class="nav-link text-white d-flex justify-content-between align-items-center"
               (click)="toggleMenu('callCenter')"
               [routerLinkActive]="['active-link']">
              <span>
                <i class="bi bi-folder"></i> Call Center
              </span>
              <i class="bi"  [ngClass]="{'bi-plus': activeMenu !== 'callCenter', 'bi-dash': activeMenu === 'callCenter'}"></i>
            </a>
          </li>
         
          <ul *ngIf="activeMenu === 'callCenter'"  class="nav flex-column callcenter-submenu">
            <li class="nav-item"routerLinkActive="active-submenu">
              <a routerLink="businessOperation/callCenter/overallSLA" class="nav-link text-white small-menu">
               Overall SLA
              </a>
            </li>
            <li class="nav-item"routerLinkActive="active-submenu">
              <a routerLink="businessOperation/callCenter/teamDetails" class="nav-link text-white small-menu">
              Team Details
              </a>
            </li>
          </ul>
      </ul>
    </div>
  </nav>
  
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-left: 16.666%; padding-top: 70px; position: relative;">
        <div class="breadcrumb-bar">
          {{ currentUrl }}
        </div>
        <router-outlet></router-outlet>
      </main>
      
      
      
    </div>
  </div>
   -->

   <div class="container-fluid">
    <header class="navbar header px-3 fixed-top">
      <button class="business-ops-btn" routerLink="/" routerLinkActive="active">
        Business-Operations
      </button>
      
      <div class="d-flex align-items-center ms-auto">
        <div class="profile-dropdown position-relative me-3">
          <button class="btn profile-circle" (click)="toggleDropdown()">
            <span class="profile-initials">{{ getInitials(username) }}</span>
          </button>
          <div class="dropdown-menu dropdown-menu-end" [ngClass]="{'show': isDropdownOpen}">
            <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
          </div>
        </div>
        <div class="user-info text-end">
          <span class="fw-bold d-block">{{ username }}</span>
          <small class="text-secondary d-block">{{ role }}</small>
        </div>
      </div>
    </header>

  <div class="row" style="margin-top: 56px;">
  <nav class="col-md-3 col-lg-2 d-md-block sidebar position-fixed">
    <div class="position-sticky">
      <div class="sidebar-logo text-center pt-2 pb-2">
        <img src="/assets/insitz-logo.png" alt="Company Logo" class="sidebar-img">
      </div>
      <div class="search-container">
        <input type="text" class="form-control sidebar-search" [(ngModel)]="searchQuery" (input)="filterMenu()" placeholder="🔍 Search..." />
        <div class="search-results shadow-sm" *ngIf="filteredItems.length > 0">
          <ul class="list-group">
            <li class="list-group-item d-flex align-items-center" *ngFor="let item of filteredItems">
              <a [routerLink]="item.link" (click)="clearSearch()" class="search-item">{{ item.label }}</a>
            </li>
          </ul>
        </div>
      </div>
      
      <button class="daily-operations-btn" routerLink="businessOperation/dailyOperation/dashboard" routerLinkActive="active">
        Daily Operations
      </button>
      
      <ul class="nav flex-column mt-3">
        <li *ngFor="let menuItem of menuItems" class="nav-item" [ngClass]="menuItem.class">
          <a class="nav-link text-white d-flex justify-content-between align-items-center" 
             (click)="toggleMenu(menuItem.id)" 
             routerLinkActive="active-link">
             <span class="d-flex align-items-center justify-content-between w-100">
              <i class="bi me-2" [ngClass]="menuItem.icon"></i> <!-- Menu Icon -->
              <span>{{ menuItem.label }}</span>
              <i class="bi ms-auto" [ngClass]="{'bi-plus': activeMenu !== menuItem.id, 'bi-dash': activeMenu === menuItem.id}"></i> <!-- Expand/Collapse Icon -->
            </span>
          </a>
          <ul *ngIf="activeMenu === menuItem.id" class="nav flex-column">
            <li *ngFor="let subItem of menuItem.submenus" class="nav-item" routerLinkActive="active-submenu">
              <a [routerLink]="subItem.link" class="nav-link text-white small-menu">{{ subItem.label }}</a>
            </li>
          </ul>
        </li>         
      </ul>
      
    </div>
  </nav>

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-left:10px; padding-top: 40px; position: relative;">
    <div class="breadcrumb-bar">
      {{ currentUrl }}
    </div>
    <router-outlet></router-outlet>
  </main>
</div>
</div>
